{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>CreatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.status ? order.status.value : '' }}</td>
                <td>
                    <a href="{{ path('app_order_admin_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_order_admin_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation flex justify-center mt-4">
        {{ knp_pagination_render(orders) }}
    </div>

    <a href="{{ path('app_order_admin_new') }}">Create new</a>
{% endblock %}
